<%= form_for @wish do |f| %>
  <div class="text-field">
  <%= f.text_field :name, placeholder: "iPhone", required: true, autofocus: true %>
  </div>
  <div class="text-field">
    <%= f.check_box :status %> Is it granted?
  </div><br>
  <div class="number-field">
    <%= f.number_field :user_id, value: current_user.id, type: "hidden" %>
  </div>

  <div class="actions">
  <%= f.submit "Add wish"%>
  </div>
<% end %>

<%= link_to "Cancel", wishlists_path %>
